{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/mayank-logo.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>mayankkumar.online</title>
</head>

<body>
    <div class="container-fluid  bgimg">
        <div class="container-fluid  overlay_bgimg">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 d-none d-lg-block">
                        <li class="mt-2">
                            <button class="nav_link_btn"><a href="https://api.whatsapp.com/send?phone=8178169046"
                                    target="_blank" class="text-white">WhatsApp</a></button>

                        </li>
                    </div>
                    <div class="col-md-4 d-none d-lg-block">
                        <nav class="">
                            <li><button class="nav_link_btn"><a href="#Contactme">Contact Me</a></button></li>
                            <li>{% for item in resume %}
                                <button class="nav_link_btn"><a href="{{item.resume.url}}" target="_blank">Download
                                        CV</a></button>
                                {% endfor %}
                            </li>
                            <li><button class="nav_link_btn"><a href="#mywork">My work</a></button></li>
                        </nav>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col">
                                <div class="desc">
                                    <h2 class="text-center display-4">Hello, I am Mayank your front end developer <br>
                                        and
                                        freelancer.
                                    </h2>
                                    <h1 class="display-3">Call me <span
                                            class="border-bottom fw-bold border-4">93&nbsp;10&nbsp;30&nbsp;75&nbsp;06</span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Form using Django Model Form -->
    <!-- Contact Form using Django Model Form -->

    <div class="container-fluid form_img">
        <div class="container-fluid  form_img_abs " id="Contactme">
            <div class="row justify-content-center">
                <div class="col-lg-5 mt-2" data-aos="zoom-in" data-aos-duration="900" data-aos-offset="300">
                    <h2 class="text-center text-white mt-2 lead display-6">Get in Touch</h2>
                    <form action="" method="POST" class="bgBlur">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="form-label">* Name</label>
                            {{form.name}}
                        </div>
                        <div class="mb-3">
                            <label for="lastname" class="form-label">&nbsp;&nbsp;Last Name</label>
                            {{form.lastname}}
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">* Email address</label>
                            {{form.email}}
                        </div>
                        <div class="mb-3">
                            <label for="phonenumber" class="form-label">&nbsp;&nbsp;Phone</label>
                            {{form.phone}}
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">&nbsp;&nbsp;Message</label>
                            {{form.message}}
                        </div>
                        <a href="#"><button type="submit" class="btn btnbg w-100">Send</button></a>
                    </form>
                    {% if messages %}
                    {% for m in messages %}
                    <div class="alert alert-sucess m-2" id="msg" role="alert"
                        style="background-color: lightgreen;color:black;text-align: center;font-weight: 600;">
                        {{m}}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- mywork area  -->
    <!-- mywork area  -->
    <!-- mywork area  -->
    <div class="container-fluid mywork" id="mywork">
        <div class="container-fluid makeblur">
            <div class="row justify-content-around">
                <div class="col-md-12">
                    <div class="accordion " id="accordionExample">
                        <div class="accordion-item bg_tarnsparent_accor" data-aos="zoom-in" data-aos-duration="700">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button  text-white" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span><img src="{% static 'fonts/arrow_forward.svg' %}" width="20"
                                            alt=""></span>&nbsp;Links of projects</button>

                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body py-5">
                                    <ol class="">

                                        {% for links in work_links %}
                                        <li>
                                            <a href="{{links.link}}" target="_blank">{{links.link_info}}</a>
                                        </li>
                                        {% endfor %}

                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item bg_tarnsparent_accor mt-md-2" data-aos="zoom-in" data-aos-duration="700">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed  text-white" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    <span><img src="{% static 'fonts/arrow_forward.svg' %}" width="20"
                                            alt=""></span>&nbsp;Technical Skills
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="">
                                        {% for links in techskill %}
                                        <div class="text-white my-2">
                                            {{links.skill_desc | safe }}
                                        </div>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item bg_tarnsparent_accor mt-md-2" data-aos="zoom-in" data-aos-duration="700">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed text-white" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    <span><img src="{% static 'fonts/arrow_forward.svg' %}" width="20"
                                            alt="">&nbsp;</span>References
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <ol class="">
                                    {% for links in referenc %}
                                    <li>
                                        <a href="{{links.refrences_link}}" target="_blank">{{links.refrences_info}}</a>
                                    </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="container-fluid carousel_parent">
    <div class="container-fluid carousel_container_child" data-aos="zoom-in" data-aos-duration="300" data-aos-offset="70">
        <div class="row">
            <div class="col">
                <h4 class="text-white mb-4 text-center">Lateset Projects with detailed UI focus.</h4>
            </div>
            <div class="col-md-12">
            

                  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="{% static 'img/slack_img_caro.png' %}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <!-- <h5>Lateset Projects with detailed UI focus.</h5>
                          <p>Some representative placeholder content for the first slide.</p> -->
                        </div>
                      </div>
                      {% for item in carosuel %}
                      <div class="carousel-item">
                        <img src="{{item.image.url}}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <!-- <h5>Second slide label</h5>
                          <p>Some representative placeholder content for the second slide.</p> -->
                        </div>
                      </div>
                      {% endfor %}
                     
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>
</div>


   

    <footer>
        <div class="container-fluid mt-md-5">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="copy_right py-3">
                                Few rights Reserved@<span id="year"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="social_links">
                        <ul>
                            {% for social_links in social_icon %}
                            <li><a href="{{social_links.icon_link}}" target="_blank"><img
                                        src="{{social_links.icon_image.url}}" height="50" width="80"
                                        alt="{{social_links.icon_name}}"></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>





    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script>
    
        {% if messages %}
    
        {% for m in messages %}
        alertify.set('notifier','position', 'top-right');
        alertify.success('{{m}}');
        {% endfor %}
    
        {% endif %}
    </script>



    <script>
        const d = new Date();
        let year = d.getFullYear();
        document.getElementById("year").innerText = year;
    </script>

    <!-- ###--------------------bootstrap js------------------## -->
    <script src="{% static 'css/bootstrap/bootstrap.min.js' %}"></script>
    <!-- ###--------------------bootstrap js------------------## -->
    <script src="{% static 'js/script.js' %}"></script>


    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>

</html>